html {
  height: -webkit-fill-available;
}

body {
  // min-height: 100vh;
  // /* mobile viewport bug fix */
  // min-height: -webkit-fill-available;
  padding: 0px;
  margin: 0px;
  background-color: #f7f8fa;
}
.amap-logo,
.amap-copyright {
  display: none !important;
}

// vant 样式重置

.van-tabbar--fixed,
.van-nav-bar--fixed {
  z-index: 99;
}
